.cron-pixie-schedule-display {
	font-weight: bold;
}
.cron-pixie-events {
	padding-left: 1em;
}
.cron-pixie-event-run:hover {
	color: darkgreen;
	cursor: pointer;
}
.cron-pixie-event-timestamp {
	clear: both;
	margin-left: 1em;
	color: grey;
}
.cron-pixie-event-empty {
	color: grey;
}
